<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <title>Encarta Web | Pagina Principal</title>
</head>
<body>
    {%if nombre %}
    <strong>Bienvenidso a la Pagina Principal {{ nombre }}</strong>
    <h2>Tu lista de amigos son:</h2>
    <ul>
        {%for amigo in amigos %}
        <li>{{ amigo}}</li>
        {%endfor%}
    </ul>

    {% else %} 
    <strong>Bienvenido a la Pagina Desconocido</strong>
    {%endif%}
</body>
</html>